/* CUSTOM GTK3 CSS FOR GEANY */


/* Compiler Message Colors */

#geany-compiler-context{color:#A66}
#geany-compiler-error{color:#F66}
#geany-compiler-message{color:#68F}

/* Document Status Colors */

#geany-document-status-changed{color:#F66}
#geany-document-status-disk-changed{color:#FA0}
#geany-document-status-readonly{color:#68F}

/* Red "Terminal" Label for Dirty Terminal */

#geany-terminal-dirty{color:#F66;font-style:italic}

/* Close Button on the Editor Tabs */

#geany-close-tab-button{outline-offset:0;outline-width:1px;padding:4px}
#geany-close-tab-button GtkImage,#geany-close-tab-button image{padding:4px}

/* Toolbar */

#GeanyToolbar{margin:0px}
#GeanyToolbar toolbutton>button{margin-bottom:0px;margin-top:0px;padding-bottom:0px;padding-top:0px}
#GeanyToolbar toolbutton>entry{margin-bottom:0px;margin-top:0px;padding-bottom:0px;padding-top:0px}
button.flat{background-color:unset}

/* Text Entries */

entry{background-color:#EEE;caret-color:#000;color:#000;font-family:mononoki,monospace}
entry>image{margin-left:2px;min-height:32px;min-width:32px;padding:2px}
entry>image:focus{background-color:#CCF}
entry>image:active,entry>image:active:focus{background-color:#2890FF}
entry>image:hover,entry>image:hover:focus{background-color:#A4A600}
entry{margin:0px 4px;padding:1px 0px}
#GeanyDialogSearch entry,#GeanyToolbar entry,#GotoEntry entry,#SearchEntry entry{font-size:30px;min-height:32px}
entry:focus,entry:hover{border-color:#88F;border-width:2px;box-shadow:0px 4px 4px 0px #CCC;margin:0px 3px;padding:0px}
#GeanyDialogSearch entry,#SearchEntry entry{min-width:320px}
#GotoEntry entry{min-width:64px}
#geany-search-entry-no-match{background-color:#F66;color:#FFF}
#geany-search-entry-no-match:selected,#geany-search-entry-no-match selection{background-color:#711}
#Math_Analytics entry{font-family:mononoki,monospace;font-size:30px;margin:0px 4px;min-height:32px;padding:1px 0px}
#Math_Analytics entry:focus,#Math_Analytics entry:hover{margin:0px 3px;padding:0px}
spinbutton>entry>image,entry>image.left{margin-left:0px;min-height:0px;min-width:0px;padding:0px}

/* Tabs */

notebook>header>tabs>tab{background-image:linear-gradient(#434343 0%, #1F1F1F 25%, #101010 50%, #161616 75%, #434343 100%);border-color:#CCC;border-radius:8px;border-style:solid;border-width:1px;margin:2px;padding:4px;text-shadow:0px 1px #CCC}
notebook>header>tabs>tab:focus,notebook>header>tabs>tab:hover{background-image:linear-gradient(#C89696, #FAF0F0);border-color:#FFF;border-radius:0px;box-shadow:0px 4px 4px 0px #CCC;color:#000;padding:4px;text-shadow:0px 1px #777}
notebook>header>tabs>tab:active{border-width:1px;color:#FFF;margin:2px;padding:4px}
notebook>header>tabs>tab:active:focus,notebook>header>tabs>tab:active:hover,notebook>header>tabs>tab:checked:focus,notebook>header>tabs>tab:checked:hover{color:#FFF;text-shadow:0px 1px #777}
notebook>header>tabs>tab:checked{background-image:linear-gradient(#944 0%, #2F2F2F 25%, #111 50%, #161616 75%, #944 100%);border-radius:16px;border-width:1px;margin:2px;padding:4px}
notebook>header>tabs{background-image:linear-gradient(#484A56 0%, #3A3E4C 37%, #3A3E4C 43%, #414555 74%, #24262E 100%);border-color:#CCC;border-radius:0px;border-style:solid;border-width:1px}

/* Miscellaneous Widgets */

#GeanyMainWindow{transition:0s}
#GeanyMenubar,menubar#GeanyMenubar>menuitem,#GeanyToolbar{background-image:linear-gradient(#454545 0%, #1F1F1F 25%, #101010 50%, #161616 75%, #454545 100%)}
menubar>menuitem>label{border-color:#777;border-style:solid;border-width:0px 2px}
treeview>header>button{border-color:#777;border-style:solid;border-width:1px;min-width:144px}
separator{background-color:#DDD}
