## PROJECT FILES ##


# Building & Testing

*.[Ll][Oo][Gg]
*.[Ll][Oo][Gg][Ss]
.[Cc][Aa][Cc][Hh][Ee]
[Bb][Ii][Nn]/
[Dd][Ee][Bb][Uu][Gg]/
[Ll][Oo][Gg][Ss]/
[Tt]esting/
.compiled/
bower_components/
build/
compiled/
downloads/
htmlcov/
metrics/
python/
var/

# Archive & Compression Files

*.bz2
*.gz
*.lzma
*.tar
*.tar.bz2
*.tar.gz
*.tar.lzma
*.tar.xz
*.xz
*.Z
*.zip

# Package Files

*.deb
*.rpm

# Project Configuration Files

#.astyle.ini
#.bandit
#.bandit.ini
#.csslintrc
#.csslint.rc
#.editorconfig
#.eslintrc
#.eslintrc.js
#.eslintrc.json
#.eslintrc.yaml
#.eslintrc.yml
#.flake8
#.gitlint
#.isort.cfg
#.mypy.ini
#.npmrc
#.pycodestyle
#.pylintrc
#.pytest.ini
#.travis.yml
#mypy.ini
#pylintrc
#pytest.ini
#tox.ini
.coverage
.coverage.*
.coveragerc
*.geany
*.geanywb
.*.geany
.*.geanywb
.*.tags
.style.yapf

# Revision Control Directories

.[Bb][Zz][Rr]/
.[Cc][Vv][Ss]/
.git/
.hg/
.svn/
.svk/

# Miscellaneous

*.[Cc][Aa][Cc][Hh][Ee]
*.[Tt][Mm][Pp]
*.todo.txt
*~
.*.swp
.DS_Store
.lock-wscript
.sh-session
.wafpickle-*
icon-theme.cache
yarn.[Ll][Oo][Cc][Kk]


## TRANSLATIONS ##


*.mo
*.pot


## C ##


# Executables

*.[Aa][Pp][Pp]
*.[Ee][Xx][Ee]
*.[Hh][Ee][Xx]
*.i386
*.i486
*.i586
*.i686
*.out
*.x86_64

# Cuda

*.cubin
*.fatbin
*.[Gg][Pp][Uu]
*.i
*.ii
*.ptx

# Debugging & Profiling Files

*.[Dd][Ss][Yy][Mm]/
*.gcda
*.idb
*.pdb
*.su

# Libraries

*.a
*.la
*.lai
*.lib

# Linker Output

*.exp
*.ilk
*.map

# LLVM/Clang

*.ast
*.bc
*.ll

# Object Files

*.[Dd][Ll][Ll]
*.dylib
*.elf
*.ko
*.lo
*.o
*.obj
*.slo
*.so
*.so.*

# Precompiled Headers

*.gch
*.pch


## PYTHON ##


# Byte-compiled

*.py[cdo]
*__pycache__
__pycache__/

# Distribution & Virtual Environments

*.egg
*.egg-info/
.eggs/
.installed.cfg
.Python
develop-eggs/
dist/
eggs/
env/
parts/
sdist/

# Installer & Builder Files

*.manifest
*.spec
pip-delete-this-directory.txt
pip-log.txt
target/

# Unit Test & Coverage Reports

*.cover
*.pytb
.hypothesis/
.tox/
coverage.xml
nosetests.xml

# IPython Notebook

.ipynb_checkpoints
