## PROJECT FILES ##


.git/
bin/
[Dd]ebug/
python/
*.cache
.editorconfig
.flake8
.mypy.ini
mypy.ini
.pycodestyle
.pylintrc
pylintrc
.pytest.ini
pytest.ini
.sh-session
.style.yapf
*.todo.txt
tox.ini
*.tmp
.travis.yml


## TRANSLATIONS ##


*.mo
*.pot


## ICONS & FONTS ##


icon-theme.cache


## C ##


# Executables
*.app
*.exe
*.hex
*.i386
*.i486
*.i586
*.i686
*.out
*.x86_64

# CUDA
*.cubin
*.fatbin
*.gpu
*.i
*.ii
*.ptx

# Debug Files
*.dSYM/
*.idb
*.pdb
*.su

# Libraries
*.a
*.la
*.lai
*.lib

# Linker Output
*.exp
*.ilk
*.map

# LLVM/Clang
*.ast
*.bc
*.ll

# Object Files
*.dll
*.dylib
*.elf
*.ko
*.lo
*.o
*.obj
*.slo
*.so
*.so.*

# Precompiled Headers
*.gch
*.pch

# Profiling
*.gcda


## PYTHON ##


# Byte-compiled
*.py[cdo]
__pycache__/
*__pycache__

# Distribution
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer & Builder Files
logs/
target/
*.log
*.logs
*.manifest
*.spec
pip-delete-this-directory.txt
pip-log.txt

# Unit Test & Coverage Reports
.tox/
htmlcov/
*,cover
*.pytb
.cache
.coverage
.coveragerc
.coverage.*
.hypothesis/
coverage.xml
nosetests.xml

# IPython Notebook
.ipynb_checkpoints

# dotenv, virtualenv, & pyenv
ENV/
venv/
.env
.python-version
