#!/usr/bin/env xdg-open

[Desktop Entry]
Categories=Development;Utility;
Comment=Disassemble and view information about a library or executable
Exec=program-analyzer %f
GenericName=Executable Viewer
Icon=program-analyzer
Keywords=analyze;assembly;binary;disassemble;readelf;elf;
Name=Program Analyzer
NoDisplay=false
Terminal=false
TryExec=program-analyzer
Type=Application
Version=1.1
