// Global Panel Button Styles


XfceHeading,
.XfceHeading {
  background-color: $bg_color;
  background-image: none;
  border-width: 0px;
  color: $text_color;
  margin: 0px;
  padding: 0px;
  text-shadow: none;
}

.budgie-panel, .xfce4-panel {
  -gtk-icon-shadow: none;
  background-color: $dark_borders_color;
  border: none;
  box-shadow: none;
  color: $dark_fg_color;
  font-style: normal;
  text-shadow: none;

  button {
    @extend %panelbutton;
  }
}

.xfce4-panel frame > border {
  border-style: none;
}

.xfce4-panel menu {
  -gtk-icon-effect: none;
  text-shadow: none;

  button {
    @include button(normal);

    &:hover {
      @include button(hover);
    }

    &:active, &:checked {
      @include button(active);
    }

    &:active:hover, &:checked:hover {
      @include button(hoveractive);
    }

    &.default {
      @include button(focus);
    }

    &:disabled {
      @include button(insensitive);
    }
  }
}

#appmenu-1, #clock-button, #tasklist-button, #whiskermenu-button, .appmenu-1, .tasklist button, .xfce4-panel button, .xfce4-panel menubar, .xfce4-panel menuitem, .xfce4-panel.background {
  background-color: $dark_bg_color;
  color: $dark_fg_color;
  &:hover {
    background-color: $dark_fg_color;
    color: $dark_bg_color;
  }
}

#whiskermenu-button {
  margin: 0px;
  padding: 0px;
}

#XfceNotifyWindow {
  @extend %osd;

  border-radius: $window_radius;

  buttonbox {
    padding: 0px;
  }

  button {
    @include button(osd);

    &:hover, &:focus {
      @include button(osd-hover);
    }

    &:active, &:checked {
      @include button(osd-active);
    }

    &:active:hover, &:checked:hover {
      @include button(osd-active);
    }

    &.default {
      @include button(osd-hover);
    }

    &:disabled {
      @include button(osd-insensitive);
    }

    border-radius: $button_radius;
    text-shadow: none;
  }

  entry {
    @include entry(osd);

    border-radius: $button_radius;
    text-shadow: none;
  }

  label#summary {
    font-weight: bold;
  }

  progressbar {
    border-radius: $button_radius;
    min-height: 8px;

    progress {
      background-color: $selected_bg_color;
      background-image: none;
      border: none;
      box-shadow: none;
    }

    trough {
      background-color: lighten($dark_bg_color, 10%);
      border-radius: $button_radius;
      border: none;
      padding: 1px 0px;
    }
  }
}

#xfwm-tabwin {
  background-color: rgba(0, 0, 0, 0.8);
  background-image: none;
  border-radius: 0px;
  color: shade($selected_fg_color, 0.7);
  padding: 8px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.8);
  -XfwmTabwinWidget-icon-size: 64px;
  -XfwmTabwinWidget-preview-size: 64px;

  button {
    background-image: none;
    border-radius: 0px;
    border: none;
    box-shadow: none;
    color: $selected_fg_color;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.8);
  }
}

#indicator-button, #pulseaudio-button {
  @extend %panelbutton;
}

.gnome-panel-menu-bar, .mate-panel-menu-bar {
  &, menubar {
    background-color: $dark_bg_color;
  }

  menubar,
  #PanelApplet label,
  #PanelApplet image {
    color: $dark_fg_color;
  }

  button:not(#tasklist-button) {
    @extend %panelbutton;
  }

  button, #tasklist-button {
    label, image {
      color: inherit;
    }
  }

  .wnck-pager {
    background-color: darken($dark_bg_color, 10%);
    color: mix($dark_fg_color, black, 50%);

    &:hover {
      background-color: lighten($dark_bg_color, 5%);
    }

    &:selected {
      color: lighten($selected_bg_color, 20%);
      background-color: $selected_bg_color;
    }
  }

  na-tray-applet {
    -NaTrayApplet-icon-padding: 0px;
    -NaTrayApplet-icon-size: $icon_size;
  }
}

.thunar {
  .standard-view {
    border-width: 0px;
  }

  .sidebar .view {
    background-color: $sidebar_bg_color;

    &:hover {
      background-color: $hover_color;
    }

    &:selected {
      background-color: $selected_bg_color;
    }
  }

  toolbar {
    border-bottom: 1px solid $borders_color;

    entry {
      margin: 2px;
    }
  }

  .shortcuts-pane {
    border-top: 0px;
  }
}

.nemo-window {
  .nemo-window-pane widget.entry {
    border: 1px solid;
    border-radius: $button_radius;

    @include entry(focus);

    &:selected {
      &:focus, & {
        @extend %selected_items;
      }
    }
  }
}

.nautilus-window {
  searchbar {
    border-top: 1px solid $borders_color;
  }

  .searchbar-container {
    margin-top: -1px;
  }

  notebook,
  notebook > stack:not(:only-child) searchbar {
    background-color: $base_color;
    color: $text_color;

    &:backdrop {
      color: $backdrop_text_color;
      background-color: $base_color;
      &:disabled {
        color: $backdrop_insensitive_color;
      }
    }

    &:backdrop:hover, &:hover {
      background-color: $hover_color;
    }

    &:disabled {
      color: $insensitive_fg_color;
      background-color: $insensitive_bg_color;
    }

    &:selected {
      border-radius: 0px;
      @extend %selected_items;
    }

    text {
      selection {
        &:focus, & {
          @extend %selected_items;
        }
      }
    }
  }

  .path-bar .dim-label {
    color: transparent;
  }
}

.caja-notebook {
  border-top: 1px solid $borders_color;
}

.caja-side-pane .frame {
  border-width: 1px 0px 0px;
}

.caja-notebook .frame {
  border-width: 0px 0px 1px;
}

.caja-desktop .entry, .caja-navigation-window .view .entry, .nemo-window .entry, .nemo-window entry, .thunar .entry, .thunar entry {
  caret-color: $caret_color;
}

.caja-desktop, .nautilus-desktop.nautilus-canvas-item, .nemo-desktop.nemo-canvas-item {
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.disk-space-display {
  border-style: solid;
  border-width: 2px;

  &.unknown {
    background-color: darken($bg_color, 20%);
    border-color: darken($bg_color, 30%);
  }

  &.used {
    background-color: $selected_bg_color;
    border-color: darken($selected_bg_color, 20%);
  }

  &.free {
    background-color: $bg_color;
    border-color: darken($bg_color, 20%);
  }
}

.table-header {
  @extend %column_header_button;

  min-height: 24px;
  padding: 4px 0px 4px 0px;
}

window.background.chromium {
  background-color: $bg_color;

  button {
    border-color: $borders_color;
  }

  menubar {
    color: if($dark_header == "true", $dark_fg_color, $fg_color);
  }
}

.chromium.maximized .titlebar button.titlebutton {
 padding: 0px;
}

.gedit-search-slider {
  button, button:hover {
    border: 1px solid $borders_color;
    box-shadow: none;

    &:last-child {
      border-left: 0px;
    }
  }
}


#MozillaGtkWidget .menubar, #MozillaGtkWidget menubar {
  background-color: $bg_color;
}

#MozillaGtkWidget .entry, #MozillaGtkWidget entry {
  background-color: $secondary_bg_color;
  color: $text_color;
}

#MozillaGtkWidget.background {
  &.default-decoration {
    button.titlebutton {
      padding: 0px;
    }
  }

  &.default-decoration,
  headerbar.titlebar {
    button.titlebutton {
      @extend %titlebutton;
    }
  }

  > menu > menuitem {
    border-radius: 0px;
  }

  > menu, .menu, .context-menu {
    .separator:not(label),
    .csd & .separator:not(label) {
      color: darken($dark_bg_color, 5%);
    }
  }
}

normal-button {
  @include button(normal);

  &:hover {
    @include button(hover);
  }

  &:active {
    @include button(active);
  }

  &:disabled {
    @include button(insensitive);
  }
}

list.tweak-categories separator {
  background: transparent;
}

.tweak-categories {
  background-color: $base_color;
  border-color: $secondary_borders_color;
}

ApDocView, CheeseThumbView, EogScrollView {
  background-color: $bg_color;
  -EogScrollView-shadow-type: none;
}
