// Lightdm Styling


// Panel widget at the top
#panel_window {
  background-color: $dark_bg_color;
  border-style: none;
  box-shadow: none;
  color: $dark_fg_color;

  // Menubars/Menus of the panel (i.e. indicators)
  menubar, menubar > menuitem {
    border-style: none;
    box-shadow: none;
    color: $dark_fg_color;

    &:active, &:checked, &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      border-style: none;
    }
  }

  menubar menuitem:disabled {
    color: transparentize($dark_fg_color, 0.5);
    label {
      color: inherit;
    }
  }

  menubar menu > menuitem {
    font-style: normal;
  }
}

// Login window
#login_window, #restart_dialog, #shutdown_dialog {
  background-color: $bg_color;
  border-style: none;
  color: $fg_color;
  font-style: normal;
}

// Top half of the login-window (i.e. the content)
#content_frame {
  background-color: $bg_color;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-width: 1px 1px 0px 1px;
  border: solid $shadow_color_hover;
  padding-bottom: 16px;
}

#content_frame button {
  @include button(normal);

  &:hover {
    @include button(hover);
  }

  &:active, &:checked {
    @include button(active);
  }

  &:disabled {
    @include button(insensitive);
  }
}

// Lower half of the login-window (i.e. the buttonbox or action area)
#buttonbox_frame {
  background-color: darken($bg_color, 5%);
  border-bottom-left-radius: $button_radius;
  border-bottom-right-radius: $button_radius;
  border-style: none;
  border-width: 1px;
  border: solid $shadow_color_hover;
  padding-bottom: 0px;
  padding-top: 16px;
}

#buttonbox_frame button {
  @include button(normal);

  &:hover {
    @include button(hover);
  }

  &:active, &:checked {
    @include button(active);
  }

  &:disabled {
    @include button(insensitive);
  }
}

#login_window #user_combobox {
  color: $fg_color;
  menu {
    font-style: normal;
  }
}

// User's avatar box
#user_image {
  border-radius: 0px;
  padding: 4px;
}

// Shutdown button
#shutdown_button.button {
  @include button(normal, $destructive_color);

  &:hover {
    @include button(hover, lighten($destructive_color, 10%));
  }

  &:active, &:checked {
    @include button(active, darken($destructive_color, 10%));
  }
}

// Restart button
#restart_button.button {
  @include button(normal, $selected_bg_color);

  &:hover {
    @include button(hover, lighten($selected_bg_color, 10%));
  }

  &:active, &:checked {
    @include button(active, darken($selected_bg_color, 10%));
  }
}

// Warning for invalid passwords or PAM issues
#greeter_infobar {
  border-bottom-width: 0px;
}
