// Color Variables


$active_column_color: #7CE;
$close_button: transparent;
$close_button_hover: #C75050;
$column_header_color: #2C2C2C;
$dark_base_color: #556;
$dark_bg_color: #223;
$dark_fg_color: #F6F6F6;
$dnd_column_color: #EC3;
$drop_target_color: #4E9A06;
$entry_image_focus_color: #CCF;
$error_color: #E53935;
$osd_fg_color: #EEE;
$secondary_caret_color: #BF8;
$selected_bg_color: #A4A600;
$selected_fg_color: #FFF;
$warning_color: #FFCA28;

$btn_color: if($variant == "light", #EFEFEF, #568);
$bg_color: if($variant == "light", #D5D5D5, $dark_bg_color);
$borders_color: if($variant == "light", darken($bg_color, 24%), #333);
$fg_color: if($variant == "light", #2C2C2C, $dark_fg_color);
$slider_color: if($variant == "light", #BBF, #77B);
$base_color: if($variant == "light", #E9E9E9, $dark_base_color);
$secondary_bg_color: if($variant == "light", lighten($base_color, 40%), lighten($base_color, 10%));
$inset_color: if($variant == "light", mix($borders_color, $bg_color, 35%), $dark_fg_color);
$menu_bg_color: if($variant == "light", #D5D5E9, lighten($dark_base_color, 20%));
$hover_color: transparentize($fg_color, 0.7);
$borders_edge: if($variant == "light", #FFF, transparentize($fg_color, 0.5));
$dark_fill: mix($borders_color, $bg_color, 35%);
$destructive_color: if($variant == "light", #F44, darken(#F44, 10%));
$lock_color: if($variant == "light", #D93, darken(#D93, 4%));
$focus_color: if($variant == "light", #29F, #EE7);
$header_bg: if($dark_header == "true", $dark_bg_color, $bg_color);
$link_color: if($variant == "light", darken($selected_bg_color, 10%), lighten($selected_bg_color, 20%));
$link_visited_color: if($variant == "light", darken($selected_bg_color, 20%), lighten($selected_bg_color, 10%));
$osd_bg_color: transparentize($dark_bg_color, 0.3);
$osd_borders_color: rgba(0, 0, 0, 0.7);
$osd_insensitive_bg_color: transparentize(mix($osd_fg_color, opacify($osd_bg_color, 1), 10%), 0.5);
$osd_insensitive_fg_color: mix($osd_fg_color, opacify($osd_bg_color, 1), 50%);
$popover_bg_color: mix($bg_color, $base_color, 50%);
$popover_hover_color: lighten($bg_color, 5%);
$scale_color: if($variant == "light", #34D, #2DC);
$scrollbar_slider_active_color: if($variant == "light", darken($selected_bg_color, 10%), lighten($selected_bg_color, 10%));
$scrollbar_slider_color: mix($fg_color, $bg_color, 50%);
$scrollbar_slider_hover_color: mix($fg_color, $bg_color, 80%);
$secondary_borders_color: if($variant == "light", darken($base_color, 8%), $borders_color);
$sep_color: if($variant == "light", #777, #AAA);
$shadow_color: #444;
$shadow_color_hover: #666;
$sidebar_bg_color: if($variant == "light", #E4E4E4, #445);
$success_color: if($variant == "light", #9C6, darken(#9C6, 10%));
$tabbar_color: if($variant == "light", darken($header_bg, 5%), darken($bg_color, 3%));
$text_color: if($variant == "light", #000, #FFF);
$selected_text_color: if($variant == "light", #FFF, #000);
$caret_color: $text_color;
$toolbar_color: if($variant == "light", $tabbar_color, $tabbar_color);
$tooltip_borders_color: rgba(255, 255, 255, 0.1);
$_wm_border: if($variant == "light", rgba(0, 0, 0, 0.2), transparentize($borders_color, 0.1));
$_wm_border_backdrop: if($variant == "light", rgba(0, 0, 0, 0.2), transparentize($borders_color, 0.1));
$_wm_highlight: if($variant == "light", $borders_edge, $shadow_color_hover);

$shiny: linear-gradient(#BCBCBC 0%, #D0D0D0 25%, #DFDFDF 50%, #D9D9D9 75%, #BCBCBC 100%);
$shiny_hover: linear-gradient(#CCCCCC 0%, #E0E0E0 25%, #EFEFEF 50%, #E9E9E9 75%, #CCCCCC 100%);
$attention: linear-gradient(rgb(200, 150, 150), rgb(250, 240, 240));

// Insensitive State Colors

$insensitive_bg_color: mix($bg_color, $base_color, 60%);
$insensitive_borders_color: $borders_color;
$insensitive_fg_color: #999;
$insensitive_selected_fg_color: mix($selected_fg_color, $selected_bg_color, 50%);

// Colors for the Backdrop State

$backdrop_borders_color: mix($borders_color, $bg_color, 90%);
$backdrop_dark_fill: mix($backdrop_borders_color, $bg_color, 35%);
$backdrop_fg_color: mix($fg_color, $bg_color, 50%);
$backdrop_insensitive_color: if($variant == "light", darken($bg_color, 15%), lighten($bg_color, 15%));
$backdrop_menu_color: $menu_bg_color;
$backdrop_scrollbar_slider_color: mix($backdrop_fg_color, $bg_color, 40%);
$backdrop_selected_fg_color: $selected_fg_color;
$backdrop_sidebar_bg_color: mix($bg_color, $base_color, 50%);
$backdrop_text_color: mix($text_color, $base_color, 80%);

// Light Selection

$light_selection: if($dark_header == "true", lighten($selected_bg_color, 5%), lighten($selected_bg_color, 35%));
$light_selection_border: if($dark_header == "true", lighten($selected_bg_color, 8%), lighten($selected_bg_color, 25%));

// Radius

$button_radius: 0px;
$circular_radius: 128px;
$entry_radius: 0px;
$scale_radius: 32px;
$window_radius: 0px;

// Sizes

$marks_distance: 1px;
$marks_length: 8px;
$min_btn_size: 16px;
$min_chbox_size: 32px;
$scrollbar_size: 16px;
$slider_min_length: 64px;
$switch_min_length: 32px;
$icon_size: 16px;
$scroller_min_thickness: 16px;
$titlebutton-height: 64px;
$titlebutton-padding: 8px;
$titlebutton-width: 64px;

// Shadows

$box_shadow_color: if($variant == "light", #28C, #EE7);
$shadow_hover: 0px 0px 8px 4px $box_shadow_color;
$slider_hover_shadow: 0px 0px 8px 4px $selected_bg_color;
$entry_inner_shadow: inset 0px 1px $shadow_color_hover, inset 0px 1px $shadow_color_hover;
$inset_color: if($variant == "light", rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));

$trans_shadow_color: transparentize($box_shadow_color, 0.9);

$colorswatch_overlay_shadow: if($variant == "light", inset 0 2px 2px -4px $shadow_color, inset 0 4px 2px -2px $shadow_color);

$shadow_active: inset 2px 0px $trans_shadow_color, inset 0px 2px $trans_shadow_color, inset -2px 0px $trans_shadow_color, inset 0px -2px $trans_shadow_color;

$shadow_focus: 2px 0px $shadow_color, 0px 2px $shadow_color, -2px 0px $shadow_color, 0px -2px $shadow_color, inset 2px 0px $inset_color, inset 0px 2px $inset_color, inset -2px 0px $inset_color, inset 0px -2px $inset_color;

$shadow_normal: 1px 0px $shadow_color, 0px 1px $shadow_color, -1px 0px $shadow_color, 0px -1px $shadow_color, inset 1px 0px $inset_color, inset 0px 1px $inset_color, inset -1px 0px $inset_color, inset 0px -1px $inset_color;

// Linked Button Shadows

$btn_shadow_left_hover: 0px 1px $shadow_color_hover, _1px 0px $shadow_color_hover, 0px _1px $shadow_color_hover, inset 1px 0px $inset_color, inset 0px 1px $inset_color, inset 0px _1px $inset_color;
$btn_shadow_left: 0px 1px $shadow_color, _1px 0px $shadow_color, 0px _1px $shadow_color, inset 1px 0px $inset_color, inset 0px 1px $inset_color, inset 0px _1px $inset_color;
$btn_shadow_middle_hover: 0px 1px $shadow_color_hover, 0px -1px $shadow_color_hover, inset 0px 1px $inset_color, inset 0px -1px $inset_color;
$btn_shadow_middle: 0px 1px $shadow_color, 0px _1px $shadow_color, inset 0px 1px $inset_color, inset 0px _1px $inset_color;
$btn_shadow_right_hover: 1px 0px $shadow_color_hover, 0px 1px $shadow_color_hover, 0px _1px $shadow_color_hover, inset 0px 1px $inset_color, inset _1px 0px $inset_color, inset 0px _1px $inset_color;
$btn_shadow_right: 1px 0px $shadow_color, 0px 1px $shadow_color, 0px -1px $shadow_color, inset 0px 1px $inset_color, inset -1px 0px $inset_color, inset 0px -1px $inset_color;

// Miscellaneous

$dot_color: if($variant == "light", $selected_bg_color, lighten($selected_bg_color, 15%));
$dot_shadow: if($variant == "light", transparentize(white, 1 - (lightness($bg_color) / 100%) / (lightness($bg_color) / 100% * 1.3)), transparentize(black, lightness($bg_color) / 100% * 0.8));
$entry_tag_bg: if($variant == "light", $selected_bg_color, mix($fg_color, $base_color, 50%));
$entry_tag_color: if($variant == "light", $selected_fg_color, $base_color);
$placesidebar_icons_opacity: 0.7;

// Duration

$checkbox_duration: 0s;
$longer_duration: 250ms;
$scroll_duration: 0s;
$shorter_duration: 150ms;
$shortest_duration: 100ms;

// Timing Function

$deceleration_curve: cubic-bezier(0, 0, 0.2, 1);


// Keyframes


@keyframes needs_attention {
  from { background-image: radial-gradient(farthest-side, $dot_color 0%, transparentize($dot_color, 1) 0%); }
  to { background-image: radial-gradient(farthest-side, $dot_color 95%, transparentize($dot_color, 1)); }
}

@keyframes spin {
  to { -gtk-icon-transform: rotate(1turn); }
}
