/* CUSTOM GTK3 CSS FOR GEANY */


/* Compiler Message Colors */

#geany-compiler-context{color:#700}
#geany-compiler-error{color:#F00}
#geany-compiler-message{color:#25F}

/* Document Status Colors */

#geany-document-status-changed{color:#F00}
#geany-document-status-disk-changed{color:#FA0}
#geany-document-status-readonly{color:#25F}

/* Red "Terminal" Label for Dirty Terminal */

#geany-terminal-dirty{color:#F00;font-style:italic}

/* Close Button on the Editor Tabs */

#geany-close-tab-button{outline-offset:0;outline-width:1px;padding:4px}
#geany-close-tab-button GtkImage,#geany-close-tab-button image{padding:4px}

/* Search Entries */

entry:focus,GtkEntry:focus{border-color:#77C;border-width:2px}
#GeanyDialogSearch entry,#GeanyDialogSearch GtkEntry,#GeanyToolbar entry,#GeanyToolbar GtkEntry,#GotoEntry entry,#GotoEntry GtkEntry,#SearchEntry entry,#SearchEntry GtkEntry{font-family:mononoki,monospace;font-size:30px;margin:0px 4px;min-height:32px;padding:0px 4px}
#GeanyDialogSearch entry,#GeanyDialogSearch GtkEntry,#SearchEntry entry,#SearchEntry GtkEntry{min-width:320px}
#GotoEntry entry,#GotoEntry GtkEntry{min-width:64px}
#GeanyDialogSearch GtkEntry GtkImage,#GeanyToolbar GtkEntry GtkImage,#GotoEntry GtkEntry GtkImage,#SearchEntry GtkEntry GtkImage,#GeanyDialogSearch entry image,#GeanyToolbar entry image,#GotoEntry entry image,#SearchEntry entry image{margin-left:2px;min-height:32px;min-width:32px;padding:2px}
#GeanyDialogSearch GtkEntry GtkImage:hover,#GeanyToolbar GtkEntry GtkImage:hover,#GotoEntry GtkEntry GtkImage:hover,#SearchEntry GtkEntry GtkImage:hover,#GeanyDialogSearch entry image:hover,#GeanyToolbar entry image:hover,#GotoEntry entry image:hover,#SearchEntry entry image:hover{background-color:#777}
#geany-search-entry-no-match{color:#FFF;background:#F66}
#geany-search-entry-no-match:selected, #geany-search-entry-no-match selection{background-color:#711}

/* Tabs */

GtkNotebook header tabs tab,notebook header tabs tab{background-image:linear-gradient(#BCBCBC 0%, #D0D0D0 25%, #DFDFDF 50%, #D9D9D9 75%, #BCBCBC 100%);border-color:#222;border-radius:8px;border-style:solid;border-width:1px}
GtkNotebook header tabs tab:hover,notebook header tabs tab:hover{background-image:linear-gradient(rgb(200,150,150),rgb(250,240,240));border-color:#000;border-radius:0px;box-shadow:0px 4px 4px 0px #333}
GtkNotebook header tabs tab:checked,notebook header tabs tab:checked{background-image:linear-gradient(#7BB 0%, #D0D0D0 25%, #EEE 50%, #D9D9D9 75%, #7BB 100%);border-radius:16px;border-width:2px}
GtkNotebook header tabs,notebook header tabs{background-image:linear-gradient(rgb(183,181,169) 0%,rgb(197,193,179) 37%,rgb(197,193,179) 43%,rgb(190,186,170) 74%,rgb(219,217,209) 100%);border-color:#333;border-radius:0px;border-style:solid;border-width:1px}

/* Miscellaneous Widgets */

GtkMenuBar>GtkMenuItem>GtkLabel,menubar>menuitem>label{border-color:#EEE;border-style:solid;border-width:0px 2px}
treeview>header>button,GtkTreeView>GtkHeader>GtkButton{border-color:#777;border-width:0px 2px;min-width:256px}
MenuSeparator,separator{background-color:#111}
