[core]
bare=false
bigFileThreshold=256M
fileMode=true
hideDotFiles=dotGitOnly
logAllRefUpdates=true
repositoryFormatVersion=0
untrackedCache=false
warnAmbiguousRefs=true
whitespace=blank-at-eol,space-before-tab

[apply]
ignoreWhitespace=false

[blame]
date=format:%Y.%m.%d %H:%M:%S %Z
showEmail=true

[cola]
blameviewer=git gui blame
fontdiff=mononoki,10,-1,5,50,0,0,0,0,0
spellcheck=true

[color]
branch=auto
diff=auto
grep=auto
pager=true
status=auto
ui=auto

[commit]
cleanup=strip
gpgsign=true
status=true

[core]
editor=xdg-open

[diff]
algorithm=minimal
autoRefreshIndex=true
dirstat=changes
renameLimit=4096
renames=copy
suppressBlankEmpty=true
tool=meld

[gc]
aggressiveDepth=100
aggressiveWindow=300
auto=5000
autoDetach=true
autoPackLimit=32
bigPackThreshold=0
pruneExpire=now
reflogExpire=7
reflogExpireUnreachable=7
rerereResolved=7
rerereUnresolved=7
worktreePruneExpire=now
writeCommitGraph=true

[gitcvs]
enabled=false

[gitg]
mainline=refs/heads/master

[gpg]
program=/usr/bin/gpg

[gui]
copyblamethreshold=30
fontdiff=-family mononoki -size 10 -weight normal -slant roman -underline 0 -overstrike 0
fontui=-family mononoki -size 10 -weight normal -slant roman -underline 0 -overstrike 0
geometry=2650x1464+286+161 536 534
historybrowser=gitk
spellingdictionary=en_US
tabsize=4
wmstate=normal

[help]
autocorrect=3

[http]
sslVerify=false

[merge]
branchdesc=true
conflictStyle=merge
guitool=meld
renameLimit=4096
renames=copy
stat=false
tool=meld
verbosity=4

[pack]
windowMemory=512m

[repack]
UseDeltaBaseOffset=true

[status]
short=true

[user]
email=EMAIL
name=NAME
signingkey=KEY
username=USERNAME
