# Autotools

aclocal.m4 linguist-generated=true linguist-language=M4 linguist-vendored
config.guess linguist-generated=true linguist-vendored
config.sub linguist-generated=true linguist-vendored
configure linguist-generated=true linguist-vendored
configure.in linguist-generated=true linguist-vendored
depcomp linguist-generated=true linguist-vendored
libtool.m4 linguist-generated=true linguist-language=M4 linguist-vendored
ltoptions.m4 linguist-generated=true linguist-vendored
ltsugar.m4 linguist-generated=true linguist-language=M4 linguist-vendored
ltversion.m4 linguist-generated=true linguist-language=M4 linguist-vendored
lt~obsolete.m4 linguist-generated=true linguist-language=M4 linguist-vendored
Makefile.am linguist-generated=true linguist-vendored
Makefile.in linguist-generated=true linguist-vendored
missing linguist-generated=true linguist-vendored
mkinstalldirs linguist-generated=true linguist-vendored


# Archive & Compression Files

*.ar binary linguist-generated=true linguist-vendored
*.arj binary linguist-generated=true linguist-vendored
*.bz2 binary linguist-generated=true linguist-vendored
*.cbr binary linguist-generated=true linguist-vendored
*.cbz binary linguist-generated=true linguist-vendored
*.cpio binary linguist-generated=true linguist-vendored
*.crx binary linguist-generated=true linguist-vendored
*.gz binary linguist-generated=true linguist-vendored
*.iso binary linguist-generated=true linguist-vendored
*.lrz binary linguist-generated=true linguist-vendored
*.lz binary linguist-generated=true linguist-vendored
*.lz4 binary linguist-generated=true linguist-vendored
*.lzh binary linguist-generated=true linguist-vendored
*.lzma binary linguist-generated=true linguist-vendored
*.rar binary linguist-generated=true linguist-vendored
*.tar binary linguist-generated=true linguist-vendored
*.tar.7z binary linguist-generated=true linguist-vendored
*.tar.bz2 binary linguist-generated=true linguist-vendored
*.tar.gz binary linguist-generated=true linguist-vendored
*.tar.lrz binary linguist-generated=true linguist-vendored
*.tar.lz binary linguist-generated=true linguist-vendored
*.tar.lz4 binary linguist-generated=true linguist-vendored
*.tar.lzma binary linguist-generated=true linguist-vendored
*.tar.lzo binary linguist-generated=true linguist-vendored
*.tar.rz binary linguist-generated=true linguist-vendored
*.tar.xz binary linguist-generated=true linguist-vendored
*.tar.Z binary linguist-generated=true linguist-vendored
*.tgz binary linguist-generated=true linguist-vendored
*.txz binary linguist-generated=true linguist-vendored
*.war binary linguist-generated=true linguist-vendored
*.xz binary linguist-generated=true linguist-vendored
*.Z binary linguist-generated=true linguist-vendored
*.zip binary linguist-generated=true linguist-vendored


# Package Files

*.apk binary linguist-generated=true linguist-vendored
*.deb binary linguist-generated=true linguist-vendored
*.eopkg binary linguist-generated=true linguist-vendored
*.ipk binary linguist-generated=true linguist-vendored
*.msi binary linguist-generated=true linguist-vendored
*.rpm binary linguist-generated=true linguist-vendored


# Databases

*.db binary linguist-generated=true linguist-vendored
*.sqlite binary linguist-generated=true linguist-vendored
*.sqlite3 binary linguist-generated=true linguist-vendored


# Generated Files

*.egg linguist-generated=true linguist-vendored
*.py[cdo] binary linguist-generated=true linguist-vendored
*.Rc binary linguist-generated=true linguist-vendored
*.xkb text eol=lf linguist-generated=true linguist-vendored
*.xkm binary linguist-generated=true linguist-vendored
icon-theme.cache binary linguist-generated=true linguist-vendored


# Project Files

.editorconfig text eol=lf linguist-vendored
.flake8 text eol=lf linguist-generated=false linguist-language=INI linguist-vendored=false
.gitattributes text eol=lf linguist-vendored=false
.gitignore text eol=lf linguist-vendored=false
.gitmodules text eol=lf linguist-vendored=false
mypy.ini text eol=lf linguist-generated=false linguist-language=INI linguist-vendored=false
.pycodestyle text eol=lf linguist-generated=false linguist-language=INI linguist-vendored=false
.pydocstyle text eol=lf linguist-generated=false linguist-language=INI linguist-vendored=false
.pydocstyle.ini text eol=lf linguist-generated=false linguist-language=INI linguist-vendored=false
.pydocstylerc text eol=lf linguist-generated=false linguist-language=INI linguist-vendored=false
.pydocstylerc.ini text eol=lf linguist-generated=false linguist-language=INI linguist-vendored=false
.pylintrc text eol=lf linguist-generated=false linguist-language=INI linguist-vendored=false
pylintrc text eol=lf linguist-generated=false linguist-language=INI linguist-vendored=false
.pytest.ini text eol=lf linguist-generated=false linguist-language=INI linguist-vendored=false
pytest.ini text eol=lf linguist-generated=false linguist-language=INI linguist-vendored=false
.sublime-project text linguist-vendored
.sublime-workspace text linguist-vendored
.travis.yml text eol=lf linguist-language=YAML linguist-vendored=false
.vscode text eol=crlf linguist-vendored
Doxyfile text eol=lf linguist-generated=true linguist-vendored=false
static/* linguist-vendored
*/static/* linguist-vendored


# Font Files

*.bdf binary linguist-generated=true linguist-vendored
*.eot binary linguist-generated=true linguist-vendored
*.otf binary linguist-generated=true linguist-vendored
*.pcf binary linguist-generated=true linguist-vendored
*.psf binary linguist-generated=true linguist-vendored
*.sfd binary linguist-generated=true linguist-vendored
*.ttc binary linguist-generated=true linguist-vendored
*.tte binary linguist-generated=true linguist-vendored
*.ttf binary linguist-generated=true linguist-vendored
*.woff binary linguist-generated=true linguist-vendored
*.woff2 binary linguist-generated=true linguist-vendored


# Image Files

*.bmp binary diff=exif linguist-vendored=false
*.gif binary diff=exif linguist-vendored=false
*.jpeg binary diff=exif linguist-vendored=false
*.jpg binary diff=exif linguist-vendored=false
*.png binary diff=exif linguist-vendored=false
*.xcf binary diff=exif linguist-vendored
*.xcfbz2 binary diff=exif linguist-vendored
*.xcfgz binary diff=exif linguist-vendored
*.xpm text linguist-generated=false linguist-language=XPM linguist-vendored=false


# Programming Languages

*.asm text eol=lf linguist-language=Assembly linguist-vendored=false
*.[Aa][Ss][Mm] text eol=lf linguist-language=Assembly linguist-vendored=false
*.s text eol=lf linguist-language=Assembly linguist-vendored=false
*.S text eol=lf linguist-language=Assembly linguist-vendored=false
*.auk text eol=lf linguist-language=Awk linguist-vendored=false
*.awk text eol=lf linguist-language=Awk linguist-vendored=false
*.[Gg]awk text eol=lf linguist-language=Awk linguist-vendored=false
*.[Mm]awk text eol=lf linguist-language=Awk linguist-vendored=false
*.[Nn]awk text eol=lf linguist-language=Awk linguist-vendored=false
*.[Bb][Aa][Tt] text eol=crlf linguist-language=Batchfile linguist-vendored=false
*.[Bb][Tt][Mm] text eol=crlf linguist-language=Batchfile linguist-vendored=false
*.[Cc][Mm][Dd] text eol=crlf linguist-language=Batchfile linguist-vendored=false
*.[Nn][Tt] text eol=crlf linguist-language=Batchfile linguist-vendored=false
*.bison text eol=lf linguist-language=Bison linguist-vendored=false
*.b text eol=lf linguist-language=Brainfuck linguist-vendored=false
*.bf text eol=lf linguist-language=Brainfuck linguist-vendored=false
*.c text eol=lf linguist-language=C linguist-vendored=false
*.[Dd][Ee][Ff] text eol=lf linguist-generated=false linguist-language=C linguist-vendored=false
*.h text eol=lf linguist-language=C linguist-vendored=false
*.swg text eol=lf linguist-generated=false linguist-language=C linguist-vendored=false
*.coffee text eol=lf linguist-language=CoffeeScript linguist-vendored=false
*._coffee text eol=lf linguist-language=CoffeeScript linguist-vendored=false
*.[Cc][Ss][Ss] text eol=lf linguist-generated=false linguist-language=CSS linguist-vendored=false
*.css[23] text eol=lf linguist-generated=false linguist-language=CSS linguist-vendored=false
*.[Cc][Ss][Vv] text eol=lf linguist-generated=false linguist-language=CSV linguist-vendored=false
*.[Cc][Uu] text eol=lf linguist-language=Cuda linguist-vendored=false
*.[Cc][Uu][Hh] text eol=lf linguist-language=Cuda linguist-vendored=false
*.[Cc][Uu][Dd][Aa] text eol=lf linguist-language=Cuda linguist-vendored=false
*.py[dix] text eol=lf linguist-language=Cython linguist-vendored=false
*.d text eol=lf linguist-language=D linguist-vendored=false
*.di text eol=lf linguist-language=D linguist-vendored=false
*.desktop text eol=lf linguist-generated=false linguist-language=desktop linguist-vendored=false
*.fish text eol=lf linguist-language=fish linguist-vendored=false
*.[Ff] text eol=lf linguist-language=Fortran linguist-vendored=false
*.[Ff]03 text eol=lf linguist-language=Fortran linguist-vendored=false
*.[Ff]08 text eol=lf linguist-language=Fortran linguist-vendored=false
*.[Ff]77 text eol=lf linguist-language=Fortran linguist-vendored=false
*.[Ff]90 text eol=lf linguist-language=Fortran linguist-vendored=false
*.[Ff]95 text eol=lf linguist-language=Fortran linguist-vendored=false
*.[Ff][Oo][Rr] text eol=lf linguist-language=Fortran linguist-vendored=false
*.[Ff][Pp][Pp] text eol=lf linguist-language=Fortran linguist-vendored=false
*.[Ff][Tt][Nn] text eol=lf linguist-language=Fortran linguist-vendored=false
*.[Ff][Oo][Rr][Tt][Rr][Aa][Nn] text eol=lf linguist-language=Fortran linguist-vendored=false
*.go text eol=lf linguist-language=Go linguist-vendored=false
*.golang text eol=lf linguist-language=Go linguist-vendored=false
*.hx text eol=lf linguist-language=Haxe linguist-vendored=false
*.hxsl text eol=lf linguist-language=Haxe linguist-vendored=false
*.htm text eol=lf linguist-language=HTML linguist-vendored=false
*.[Hh][Tt][Mm][Ll] text eol=lf linguist-language=HTML linguist-vendored=false
*.xht text eol=lf linguist-language=HTML linguist-vendored=false
*.[Xx]html text eol=lf linguist-language=HTML linguist-vendored=false
*.[Cc][Ff][Gg] text eol=lf linguist-generated=false linguist-language=INI linguist-vendored=false
*.[Cc][Oo][Nn][Ff] text eol=lf linguist-generated=false linguist-language=INI linguist-vendored=false
*.config text eol=lf linguist-generated=false linguist-language=INI linguist-vendored=false
*.icon text eol=lf linguist-generated=false linguist-language=INI linguist-vendored=false
*.[Ii][Nn][Ii] text eol=lf linguist-generated=false linguist-language=INI linguist-vendored=false
*.theme text eol=lf linguist-generated=false linguist-language=INI linguist-vendored=false
*.theme.in text eol=lf linguist-generated=false linguist-language=INI linguist-vendored=false
*.[Jj][Ss][Oo][Nn] text eol=lf linguist-generated=false linguist-language=JSON linguist-vendored=false
*.less text eol=lf linguist-language=Less linguist-vendored=false
*.limbo text eol=lf linguist-language=Limbo linguist-vendored=false
*.ll text eol=lf linguist-language=LLVM linguist-vendored=false
*.lua text eol=lf linguist-language=Lua linguist-vendored=false
MANIFEST.in text eol=lf linguist-documentation=false linguist-generated=false linguist-language=INI linguist-vendored=false
*.[Jj][Ss] text eol=lf linguist-language=JavaScript linguist-vendored=false
*.[Mm]4 text eol=lf linguist-generated=false linguist-language=M4 linguist-vendored=false
*.[Mm][Kk] text eol=lf linguist-generated=false linguist-language=Makefile linguist-vendored=false
makefile text eol=lf linguist-language=Makefile linguist-vendored=false
*.matlab text eol=lf linguist-language=Matlab linguist-vendored=false
*.mlab text eol=lf linguist-language=Matlab linguist-vendored=false
*.octave text eol=lf linguist-language=Matlab linguist-vendored=false
*.nanorc text eol=lf linguist-language=nanorc linguist-vendored=false
*.numpy text eol=lf linguist-language=NumPy linguist-vendored=false
*.numpyw text eol=lf linguist-language=NumPy linguist-vendored=false
*.numsc text eol=lf linguist-language=NumPy linguist-vendored=false
*.ml text eol=lf linguist-language=OCaml linguist-vendored=false
*.mli text eol=lf linguist-language=OCaml linguist-vendored=false
*.mll text eol=lf linguist-language=OCaml linguist-vendored=false
*.mly text eol=lf linguist-language=OCaml linguist-vendored=false
*.[Cc][Ll] text eol=lf linguist-language=OpenCL linguist-vendored=false
*.[Oo]pen[Cc][Ll] text eol=lf linguist-language=OpenCL linguist-vendored=false
*.parrot text eol=lf linguist-generated=false linguist-language=Parrot linguist-vendored=false
*.pasm text eol=lf linguist-generated=false linguist-language=pasm linguist-vendored=false
*.[Pp][Hh][Pp] text eol=lf linguist-language=PHP linguist-vendored=false
*.[Pp][Hh][Pp]4 text eol=lf linguist-language=PHP linguist-vendored=false
*.[Pp][Hh][Pp]5 text eol=lf linguist-language=PHP linguist-vendored=false
*.[Pp][Hh][Pp]6 text eol=lf linguist-language=PHP linguist-vendored=false
*.[Pp][Hh][Pp]7 text eol=lf linguist-language=PHP linguist-vendored=false
*.[Pp][Hh][Pp][Ss] text eol=lf linguist-language=PHP linguist-vendored=false
*.[Pp][Hh][Pp][Tt] text eol=lf linguist-language=PHP linguist-vendored=false
*.[Pp][Ss]1 text eol=lf linguist-language=PowerShell linguist-vendored=false
*.[Pp][Ss][Dd]1 text eol=lf linguist-language=PowerShell linguist-vendored=false
*.[Pp][Ss][Mm]1 text eol=lf linguist-language=PowerShell linguist-vendored=false
*.py text eol=lf linguist-language=Python linguist-vendored=false
*.py[23w] text eol=lf linguist-language=Python linguist-vendored=false
*.pygtk text eol=lf linguist-language=Python linguist-vendored=false
*.pyqt text eol=lf linguist-language=Python linguist-vendored=false
*.pyside text eol=lf linguist-language=Python linguist-vendored=false
*.[Rr] text eol=lf linguist-language=R linguist-vendored=false
*.[12345678] text eol=lf linguist-language=Roff linguist-vendored=false
*.man text eol=lf linguist-language=Roff linguist-vendored=false
*.man[12345678] text eol=lf linguist-language=Roff linguist-vendored=false
*.manpage text eol=lf linguist-language=Roff linguist-vendored=false
*.mdoc text eol=lf linguist-language=Roff linguist-vendored=false
*.[Ss][Aa][Ss][Ss] text eol=lf linguist-language=Sass linguist-vendored=false
*.[Ss][Cc][Ss][Ss] text eol=lf linguist-language=SCSS linguist-vendored=false
*.ash text eol=lf linguist-language=Shell linguist-vendored=false
*.bash text eol=lf linguist-language=Shell linguist-vendored=false
*.bashrc text eol=lf linguist-language=Shell linguist-vendored=false
*.dash text eol=lf linguist-language=Shell linguist-vendored=false
*.ksh text eol=lf linguist-language=Shell linguist-vendored=false
*.sh text eol=lf linguist-language=Shell linguist-vendored=false
*.tap text eol=lf linguist-language=Shell linguist-vendored=false
*.zsh text eol=lf linguist-language=Shell linguist-vendored=false
*profile text eol=lf linguist-language=Shell linguist-vendored=false
*.[Ss][Qq][Ll] text eol=lf linguist-language=SQL linguist-vendored=false
*.[Ss][Vv][Gg] text eol=lf linguist-documentation=false linguist-language=SVG linguist-vendored=false
*.tcl text eol=lf linguist-language=Tcl linguist-vendored=false
*.tm text eol=lf linguist-language=Tcl linguist-vendored=false
*.cursor text eol=lf linguist-generated=false linguist-language=Text linguist-vendored=false
cursorList text eol=lf linguist-generated=false linguist-language=Text linguist-vendored=false
*.tags text eol=lf linguist-language=Text linguist-vendored=false
*.xkbmap text eol=lf linguist-language=Text linguist-vendored=false
*.wasm text eol=lf linguist-language=WebAssembly linguist-vendored=false
*.wast text eol=lf linguist-language=WebAssembly linguist-vendored=false
*.wat text eol=lf linguist-language=WebAssembly linguist-vendored=false
XCompose text eol=lf linguist-documentation=false linguist-language=XCompose linguist-vendored=false
*.[Cc][Mm][Ll] text eol=lf linguist-language=XML linguist-vendored=false
*.[Dd][Tt][Dd] text eol=lf linguist-language=XML linguist-vendored=false
*.glade text eol=lf linguist-generated=false linguist-language=XML linguist-vendored=false
*.lang text eol=lf linguist-language=XML linguist-vendored=false
*.[Mm][Mm][Ll] text eol=lf linguist-language=XML linguist-vendored=false
*.[Mm][Aa][Tt][Hh][Mm][Ll] text eol=lf linguist-language=XML linguist-vendored=false
*.[Rr][Nn][Gg] text eol=lf linguist-language=XML linguist-vendored=false
*.[Xx][Mm][Ll] text eol=lf linguist-language=XML linguist-vendored=false
*.[Xx][Ss][Dd] text eol=lf linguist-language=XML linguist-vendored=false
*.[Xx][Ss][Ll] text eol=lf linguist-language=XSLT linguist-vendored=false
*.[Xx][Ss][Ll][Tt] text eol=lf linguist-language=XSLT linguist-vendored=false
*.[Yy] text eol=lf linguist-language=Yacc linguist-vendored=false
*.[Yy][Aa][Cc][Cc] text eol=lf linguist-language=Yacc linguist-vendored=false
*.[Yy][Yy] text eol=lf linguist-language=Yacc linguist-vendored=false
*.[Yy][Aa][Mm][Ll] text eol=lf linguist-language=YAML linguist-vendored=false
*.[Yy][Mm][Ll] text eol=lf linguist-language=YAML linguist-vendored=false


# Documentation

[Dd][Oo][Cc]/** linguist-detectable=false linguist-documentation
[Dd]ocumentation/** linguist-detectable=false linguist-documentation
[Ee]xamples/** linguist-detectable=false linguist-documentation
[Mm][Aa][Nn]/** linguist-detectable=false linguist-documentation
[Rr][Ee][Aa][Dd][Mm][Ee].[Mm][Dd] text eol=lf linguist-language=Markdown linguist-documentation
*.[Mm][Dd] text eol=lf linguist-language=Markdown linguist-documentation
*.[Rr][Ee][Aa][Dd][Mm][Ee] text eol=lf linguist-language=Markdown linguist-documentation
*.[Rr][Ss][Tt] text eol=lf linguist-language=reStructuredText linguist-documentation
*.[Tt][Xx][Tt] text eol=lf linguist-documentation
AUTHORS text eol=lf linguist-documentation
[Bb][Uu][Gg][Ss] text eol=lf linguist-documentation
[Cc]hange[Ll]og text eol=lf linguist-documentation
CONTRIBUTING text eol=lf linguist-documentation
CONTRIBUTORS text eol=lf linguist-documentation
COPYING text eol=lf linguist-documentation
*.devhelp2 text eol=lf linguist-language=XML linguist-vendored=false
HACKING text eol=lf linguist-documentation
INSTALL text eol=lf linguist-documentation
[Ll][Ii][Cc][Ee][Nn][Ss][Ee] text eol=lf linguist-documentation
[Ll][Ii][Cc][Ee][Nn][Ss][Ee].* text eol=lf linguist-documentation
[Ll][Ii][Cc][Ee][Nn][Ss][Ee].txt text eol=lf linguist-documentation
MAINTAINERS text eol=lf linguist-documentation
[Nn][Ee][Ww][Ss] text eol=lf linguist-documentation
PKG-INFO text eol=lf linguist-documentation
[Rr][Ee][Aa][Dd][Mm][Ee] text eol=lf linguist-documentation
[Rr][Ee][Aa][Dd][Mm][Ee]* text eol=lf linguist-documentation
THANKS text eol=lf linguist-documentation
[Tt][Oo][Dd][Oo] text eol=lf linguist-documentation
[Gg][Pp][Ll]-3.0.txt text eol=lf linguist-documentation
