<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">


<head>
  <meta charset="UTF-8">
  <meta content="application/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="width=device-width,initial-scale=1.0" name="viewport">
  <title>{untitled}</title>
  <meta name="language" content="en">
  <meta name="author" content="{developer}">
</head>


<body>


<header></header>


<main></main>


<footer></footer>


</body>


</html>
