[Install]
Alias=
RequiredBy=
WantedBy=

[Service]
BusName=
ExecReload=
ExecStart=
ExecStop=
Group=
Nice=-20
NonBlocking=
NotifyAccess=
PermissionsStartOnly=
ProtectHome=true
RemainAfterExit=no
Restart=always|no|on-abnormal|on-abort|on-failure|on-success|on-watchdog
RestartForceExitStatus=
RestartPreventExitStatus=
RestartSec=0.1
RootDirectoryStartOnly=
RuntimeMaxSec=infinity
Sockets=
SuccessExitStatus=
TimeoutStartSec=
Type=dbus|forking|idle|notify|oneshot|simple
User=

[Unit]
After=
Before=
Conflicts=
ConsistsOf=
Description=
Documentation=
PartOf=
Requires=
TriggeredBy=
Triggers=
