<!DOCTYPE html>

<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta content="application/xhtml+xml;charset=utf-8" http-equiv="Content-Type">
  <meta content="width=device-width,initial-scale=1.0" name="viewport">
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <title>_</title>
</head>


<body>


<div class="ar">
  <canvas height="1000px" id="bgnd" tabindex="0" width="1000px"></canvas>
</div>

<div id="container">
  <X3D profile="Full|Immersive|Interact|Interchange" showLog="false" showStat="false" type="model/x3d+xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema-instance" xsd:noNamespaceSchemaLocation="http://www.web3d.org/specifications/x3d-3.2.xsd" version="3.2">

  <scene bboxcenter="0,0,0" bboxsize="-1,-1,-1" dopickpass="true" pickmode="idBuf" render="true">

    <viewpoint centerofrotation="0,0,0" description="defaultX3DViewpointNode" fieldofview="1.0" orientation="0.0 0.0 0.0 0.0" position="0.0 0.0 0.0" zfar="-1" znear="-1"></viewpoint>

    <Shape bboxcenter="0,0,0" bboxsize="-1,-1,-1" ispickable="true" render="true">
      <Appearance alphaclipthreshold="0.1" sorttype="auto">
        <Material ambientintensity="0.2" diffuseColor="1 0 0" emissivecolor="0,0,0" shininess="0.2" specularcolor="0,0,0"></Material>
      </Appearance>
      <Box ccw="true" lit="true" size="2,2,2" solid="true" usegeocache="true"></box>
    </Shape>

  </Scene>

  </X3D>
</div>


</body>


</html>
