<!DOCTYPE html>

<html lang="en">


<head>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8">
  <meta content="width=device-width,initial-scale=1.0,user-scalable=no" name="viewport">
  <title>{untitled}</title>
  <meta name="language" content="en">
  <meta content="en_US" property="og:locale">
  <meta name="copyright" content="© {year} COMPANY. All Rights Reserved.">
  <meta name="owner" content="COMPANY">
  <meta content="COMPANY" property="og:site_name">
  <meta name="author" content="{developer}">
  <meta name="creator" content="{developer}">
  <meta name="designer" content="{developer}">
  <meta content="{developer}" property="og:author">
  <meta name="description" content="DESCRIPTION">
  <meta content="True" name="handheldfriendly">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta name="MobileOptimized" content="width">
  <meta name="robots" content="NONE,NOARCHIVE,NOSNIPPET">
  <meta name="slurp" content="NONE,NOARCHIVE,NOSNIPPET">
  <meta name="no-email-collection" content="https://www.unspam.com/noemailcollection/">
  <meta name="rating" content="general">
  <meta name="country" content="USA">
  <meta name="color-scheme" content="normal">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="favicon.ico" rel="apple-touch-icon" sizes="195x85" type="image/vnd.microsoft.icon">
  <link href="favicon_144.ico" rel="apple-touch-icon" sizes="144x144" type="image/vnd.microsoft.icon">
  <link href="favicon_114.ico" rel="apple-touch-icon" sizes="114x114" type="image/vnd.microsoft.icon">
  <link href="favicon_74.ico" rel="apple-touch-icon" sizes="74x74" type="image/vnd.microsoft.icon">
  <link href="favicon_72.ico" rel="apple-touch-icon" sizes="72x72" type="image/vnd.microsoft.icon">
  <link href="favicon.ico" rel="icon" sizes="195x85" type="image/vnd.microsoft.icon">
  <link href="favicon_144.ico" rel="icon" sizes="144x144" type="image/vnd.microsoft.icon">
  <link href="favicon_114.ico" rel="icon" sizes="114x114" type="image/vnd.microsoft.icon">
  <link href="favicon_74.ico" rel="icon" sizes="74x74" type="image/vnd.microsoft.icon">
  <link href="favicon_72.ico" rel="icon" sizes="72x72" type="image/vnd.microsoft.icon">
  <link color="white" href="favicon_144.png" rel="mask-icon" type="image/png">
  <link href="favicon_144.png" rel="apple-touch-startup-image" type="image/png">
  <link href="css/basic.css" rel="stylesheet" type="text/css">
  <link href="css/main.css" rel="stylesheet" type="text/css">
  <script type="text/javascript">
    window.addEventListener('load', function(e) { setTimeout(function(){ window.scrollTo(0, 1) }, 1) }, false)
  </script>
</head>


<body>


<div class="ar">
  <canvas height="1000px" id="bgnd" tabindex="0" width="1000px"></canvas>
</div>

<div id="container">
  <X3D profile="Full|Immersive|Interact|Interchange" showLog="false" showStat="false" type="model/x3d+xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema-instance" xsd:noNamespaceSchemaLocation="http://www.web3d.org/specifications/x3d-3.2.xsd" version="3.2">

  <scene bboxcenter="0,0,0" bboxsize="-1,-1,-1" dopickpass="true" pickmode="idBuf" render="true">

    <viewpoint centerofrotation="0,0,0" description="defaultX3DViewpointNode" fieldofview="1.0" orientation="0.0 0.0 0.0 0.0" position="0.0 0.0 0.0" zfar="-1" znear="-1"></viewpoint>

    <Shape bboxcenter="0,0,0" bboxsize="-1,-1,-1" ispickable="true" render="true">
      <Appearance alphaclipthreshold="0.1" sorttype="auto">
        <Material ambientintensity="0.2" diffuseColor="1 0 0" emissivecolor="0,0,0" shininess="0.2" specularcolor="0,0,0"></Material>
      </Appearance>
      <Box ccw="true" lit="true" size="2,2,2" solid="true" usegeocache="true"></box>
    </Shape>

  </Scene>

  </X3D>
</div>


</body>


</html>
